@model data.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            Users in this project
        </dt>

        <dd>

            @foreach (var items in Model.CVs)
            {
                if (User.Identity.IsAuthenticated)
                {
                    <br /> @Html.DisplayFor(modelItem => items.Name) <br />
                    @Html.ActionLink("View profile", "Details", "CVs", new { id = items.id }, null)
                }
                else if (!items.PrivateProfile)
                {
                    <br /> @Html.DisplayFor(modelItem => items.Name) <br />
                    @Html.ActionLink("View profile", "Details", "CVs", new { id = items.id }, null)

                }
            }
        </dd>
    </dl>


</div>

