@using CVSITEHT2021.Shared;
@model CVSITEHT2021.Models.CV

@{
    ViewBag.Title = "Details";
}

<h2>CV</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="@(ImageService.GetImagePathRelative(Model.ImagePath))" style="max-width: 200px; max-height: 200px" />
            }
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Competences)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competences)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projects)
        </dt>

        <dd>
            @foreach (var items in Model.Projects)
            {
                @Html.DisplayFor(modelItem => items.Title) <h5> </h5>
            }

        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id })
</p>

<div>@{Html.RenderAction("Create", "Messages", new { id = Model.id });} </div>


